#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1640px 1857px #fff, 64px 661px #fff, 1658px 1390px #fff,
    1952px 786px #fff, 1948px 1012px #fff, 1708px 916px #fff, 353px 963px #fff,
    271px 1872px #fff, 980px 1777px #fff, 911px 1566px #fff, 1323px 463px #fff,
    1644px 495px #fff, 965px 714px #fff, 1147px 1972px #fff, 637px 1963px #fff,
    420px 486px #fff, 1476px 1891px #fff, 1785px 680px #fff, 222px 1368px #fff,
    451px 1549px #fff, 1930px 491px #fff, 1499px 1216px #fff, 1282px 934px #fff,
    1712px 745px #fff, 935px 209px #fff, 891px 1939px #fff, 1952px 1139px #fff,
    698px 1455px #fff, 1087px 582px #fff, 511px 164px #fff, 1363px 940px #fff,
    1871px 1880px #fff, 1496px 1481px #fff, 762px 906px #fff, 596px 81px #fff,
    1046px 1588px #fff, 1326px 674px #fff, 1164px 606px #fff, 824px 97px #fff,
    25px 1358px #fff, 1152px 98px #fff, 1094px 1548px #fff, 1903px 1523px #fff,
    972px 625px #fff, 1684px 45px #fff, 361px 151px #fff, 1877px 1016px #fff,
    1711px 1493px #fff, 728px 1811px #fff, 467px 457px #fff, 1858px 1696px #fff,
    1562px 179px #fff, 1632px 1893px #fff, 535px 757px #fff, 1483px 1444px #fff,
    1080px 1002px #fff, 1104px 312px #fff, 674px 764px #fff, 1396px 380px #fff,
    994px 693px #fff, 840px 1637px #fff, 582px 106px #fff, 1845px 1721px #fff,
    174px 891px #fff, 140px 1411px #fff, 1183px 535px #fff, 721px 1118px #fff,
    1366px 410px #fff, 686px 1488px #fff, 355px 1504px #fff, 850px 638px #fff,
    79px 1501px #fff, 207px 253px #fff, 196px 41px #fff, 1596px 734px #fff,
    1066px 1546px #fff, 605px 588px #fff, 1486px 1869px #fff, 1566px 1693px #fff,
    481px 1940px #fff, 1115px 300px #fff, 681px 81px #fff, 1877px 1240px #fff,
    1241px 40px #fff, 720px 1969px #fff, 1694px 959px #fff, 450px 853px #fff,
    279px 382px #fff, 220px 1247px #fff, 1302px 1355px #fff, 1508px 1394px #fff,
    194px 1585px #fff, 931px 300px #fff, 1977px 1041px #fff, 1311px 1354px #fff,
    1510px 796px #fff, 1474px 95px #fff, 798px 800px #fff, 1370px 1297px #fff,
    156px 1382px #fff, 536px 1055px #fff, 622px 260px #fff, 1911px 841px #fff,
    343px 638px #fff, 1848px 1573px #fff, 291px 73px #fff, 1878px 1588px #fff,
    369px 371px #fff, 15px 1262px #fff, 1785px 1883px #fff, 245px 698px #fff,
    1068px 1229px #fff, 1340px 1541px #fff, 948px 1164px #fff, 577px 525px #fff,
    402px 1037px #fff, 1637px 584px #fff, 446px 935px #fff, 1861px 786px #fff,
    1323px 216px #fff, 1621px 979px #fff, 1418px 812px #fff, 693px 158px #fff,
    668px 444px #fff, 1254px 1109px #fff, 1864px 1713px #fff, 463px 1382px #fff,
    204px 1443px #fff, 483px 1078px #fff, 192px 1318px #fff, 397px 741px #fff,
    633px 107px #fff, 1310px 1743px #fff, 1856px 1431px #fff, 950px 1924px #fff,
    1339px 1991px #fff, 1186px 981px #fff, 1513px 1443px #fff, 105px 521px #fff,
    82px 104px #fff, 1413px 1452px #fff, 710px 1886px #fff, 1861px 574px #fff,
    1624px 1315px #fff, 1287px 1705px #fff, 51px 1582px #fff, 584px 1779px #fff,
    1996px 898px #fff, 239px 1836px #fff, 622px 1383px #fff, 1078px 1244px #fff,
    54px 1986px #fff, 1926px 897px #fff, 1488px 1038px #fff, 851px 573px #fff,
    270px 1380px #fff, 1603px 547px #fff, 626px 1855px #fff, 1638px 1348px #fff,
    315px 400px #fff, 306px 14px #fff, 1557px 376px #fff, 1304px 1815px #fff,
    235px 1307px #fff, 755px 1810px #fff, 319px 1015px #fff, 978px 732px #fff,
    487px 1095px #fff, 1411px 1986px #fff, 1883px 1460px #fff, 1906px 8px #fff,
    1483px 185px #fff, 760px 869px #fff, 159px 198px #fff, 384px 1825px #fff,
    1058px 1299px #fff, 1578px 1163px #fff, 823px 358px #fff, 83px 1510px #fff,
    772px 1882px #fff, 1233px 56px #fff, 277px 1592px #fff, 1368px 1904px #fff,
    180px 210px #fff, 1640px 476px #fff, 1324px 1589px #fff, 1690px 1406px #fff,
    1179px 1758px #fff, 1164px 287px #fff, 353px 1564px #fff, 1750px 1380px #fff,
    27px 175px #fff, 1059px 657px #fff, 1844px 160px #fff, 125px 555px #fff,
    1036px 1573px #fff, 1757px 1569px #fff, 72px 1723px #fff, 1312px 1104px #fff,
    1417px 1085px #fff, 1675px 1231px #fff, 772px 1982px #fff, 273px 1647px #fff,
    1891px 1241px #fff, 781px 1442px #fff, 907px 1132px #fff, 64px 537px #fff,
    1974px 260px #fff, 1252px 251px #fff, 1338px 628px #fff, 119px 1686px #fff,
    1827px 1700px #fff, 938px 300px #fff, 172px 513px #fff, 1138px 1493px #fff,
    558px 1543px #fff, 1181px 1329px #fff, 1132px 1152px #fff, 881px 1039px #fff,
    299px 1989px #fff, 1894px 441px #fff, 1797px 1345px #fff, 1435px 37px #fff,
    1378px 758px #fff, 1700px 651px #fff, 1423px 1619px #fff, 1257px 1200px #fff,
    959px 1409px #fff, 1975px 466px #fff, 970px 1016px #fff, 892px 1502px #fff,
    1509px 1574px #fff, 389px 1184px #fff, 759px 1207px #fff, 1305px 1304px #fff,
    1454px 1971px #fff, 1008px 1520px #fff, 1099px 1140px #fff,
    1072px 1121px #fff, 1670px 1754px #fff, 1801px 1221px #fff,
    1829px 737px #fff, 928px 79px #fff, 1484px 99px #fff, 593px 1936px #fff,
    1873px 387px #fff, 649px 1171px #fff, 1627px 1703px #fff, 1200px 1393px #fff,
    418px 950px #fff, 39px 409px #fff, 764px 730px #fff, 1028px 1911px #fff,
    1457px 1888px #fff, 1458px 1396px #fff, 334px 1810px #fff, 1939px 970px #fff,
    674px 1377px #fff, 1564px 1506px #fff, 834px 1846px #fff, 343px 966px #fff,
    761px 1464px #fff, 1679px 1885px #fff, 12px 148px #fff, 1616px 18px #fff,
    502px 935px #fff, 484px 1010px #fff, 1094px 947px #fff, 1818px 229px #fff,
    1130px 939px #fff, 392px 260px #fff, 149px 347px #fff, 1872px 734px #fff,
    11px 321px #fff, 1491px 1848px #fff, 1202px 792px #fff, 1262px 759px #fff,
    1593px 678px #fff, 1225px 1257px #fff, 1402px 1947px #fff, 502px 1705px #fff,
    1510px 1859px #fff, 1870px 347px #fff, 1026px 975px #fff, 51px 483px #fff,
    1324px 1736px #fff, 612px 1990px #fff, 338px 1922px #fff, 1573px 954px #fff,
    807px 1895px #fff, 430px 1948px #fff, 158px 905px #fff, 1068px 271px #fff,
    1437px 377px #fff, 394px 1622px #fff, 1618px 1901px #fff, 1533px 22px #fff,
    954px 296px #fff, 1029px 963px #fff, 746px 460px #fff, 556px 1311px #fff,
    1179px 1357px #fff, 677px 1456px #fff, 246px 873px #fff, 113px 518px #fff,
    527px 1658px #fff, 1388px 749px #fff, 1689px 882px #fff, 1391px 858px #fff,
    127px 705px #fff, 1758px 1617px #fff, 1931px 886px #fff, 1601px 458px #fff,
    760px 82px #fff, 241px 1434px #fff, 1424px 288px #fff, 751px 990px #fff,
    1004px 746px #fff, 476px 53px #fff, 242px 1713px #fff, 842px 1569px #fff,
    1835px 934px #fff, 805px 42px #fff, 480px 750px #fff, 876px 1807px #fff,
    1521px 916px #fff, 410px 139px #fff, 1758px 136px #fff, 1982px 953px #fff,
    848px 13px #fff, 1437px 1006px #fff, 134px 368px #fff, 646px 927px #fff,
    1302px 394px #fff, 286px 1399px #fff, 1847px 1966px #fff, 207px 1633px #fff,
    570px 1756px #fff, 1364px 1911px #fff, 18px 1185px #fff, 750px 1989px #fff,
    1361px 482px #fff, 493px 1913px #fff, 614px 716px #fff, 1327px 611px #fff,
    396px 1639px #fff, 934px 1105px #fff, 1335px 1673px #fff, 1877px 1390px #fff,
    1601px 288px #fff, 718px 1831px #fff, 341px 813px #fff, 1505px 166px #fff,
    657px 271px #fff, 751px 1538px #fff, 1686px 1357px #fff, 1382px 659px #fff,
    226px 257px #fff, 1807px 1868px #fff, 1585px 721px #fff, 1418px 521px #fff,
    1734px 97px #fff, 41px 6px #fff, 1844px 608px #fff, 1772px 59px #fff,
    1752px 714px #fff, 795px 1739px #fff, 128px 1860px #fff, 925px 1771px #fff,
    993px 1107px #fff, 1169px 102px #fff, 1761px 1253px #fff, 1472px 72px #fff,
    224px 1647px #fff, 1226px 1798px #fff, 925px 1011px #fff, 1949px 991px #fff,
    696px 1510px #fff, 1547px 1907px #fff, 875px 260px #fff, 956px 55px #fff,
    1610px 395px #fff, 1094px 1539px #fff, 674px 1406px #fff, 1200px 1631px #fff,
    600px 92px #fff, 125px 695px #fff, 1909px 1568px #fff, 1884px 306px #fff,
    112px 1825px #fff, 1648px 1618px #fff, 890px 1289px #fff, 133px 69px #fff,
    1785px 1934px #fff, 25px 1269px #fff, 1594px 1900px #fff, 420px 1334px #fff,
    1397px 1758px #fff, 560px 1041px #fff, 928px 1470px #fff, 175px 62px #fff,
    1059px 817px #fff, 1457px 1485px #fff, 327px 1246px #fff, 272px 1374px #fff,
    2px 1289px #fff, 1138px 1653px #fff, 1674px 283px #fff, 1053px 468px #fff,
    278px 1140px #fff, 773px 67px #fff, 481px 1040px #fff, 876px 1845px #fff,
    1789px 465px #fff, 606px 1186px #fff, 329px 1579px #fff, 1666px 1886px #fff,
    1269px 1890px #fff, 1215px 988px #fff, 686px 357px #fff, 1030px 806px #fff,
    927px 1753px #fff, 1884px 1056px #fff, 1072px 1725px #fff, 66px 142px #fff,
    413px 1019px #fff, 717px 1628px #fff, 919px 216px #fff, 881px 6px #fff,
    164px 1181px #fff, 793px 1655px #fff, 252px 440px #fff, 1446px 761px #fff,
    1681px 1903px #fff, 405px 1759px #fff, 560px 1530px #fff, 1529px 249px #fff,
    374px 1657px #fff, 655px 1591px #fff, 92px 288px #fff, 1244px 689px #fff,
    552px 1565px #fff, 1094px 800px #fff, 1230px 1769px #fff, 1814px 1320px #fff,
    1299px 1921px #fff, 320px 1718px #fff, 501px 291px #fff, 507px 188px #fff,
    964px 1121px #fff, 1568px 1861px #fff, 1195px 488px #fff, 908px 812px #fff,
    1047px 949px #fff, 1078px 274px #fff, 744px 852px #fff, 414px 1870px #fff,
    559px 864px #fff, 1331px 1367px #fff, 469px 1556px #fff, 582px 605px #fff,
    113px 1864px #fff, 151px 594px #fff, 1831px 307px #fff, 106px 1295px #fff,
    1532px 519px #fff, 1688px 430px #fff, 1038px 1311px #fff, 1580px 1937px #fff,
    1195px 1928px #fff, 1142px 1864px #fff, 1072px 1744px #fff, 591px 726px #fff,
    851px 140px #fff, 1393px 1243px #fff, 1315px 1962px #fff, 1296px 1872px #fff,
    724px 1855px #fff, 1599px 1971px #fff, 1062px 1286px #fff, 617px 1296px #fff,
    720px 758px #fff, 1565px 1620px #fff, 1473px 1553px #fff, 1650px 420px #fff,
    661px 940px #fff, 1454px 1519px #fff, 1524px 1096px #fff, 1229px 1533px #fff,
    40px 47px #fff, 681px 483px #fff, 171px 145px #fff, 1127px 1818px #fff,
    1334px 302px #fff, 1105px 445px #fff, 1507px 1023px #fff, 1597px 366px #fff,
    36px 883px #fff, 1675px 595px #fff, 773px 776px #fff, 526px 250px #fff,
    1718px 203px #fff, 687px 232px #fff, 221px 373px #fff, 925px 1647px #fff,
    1349px 1908px #fff, 363px 78px #fff, 1718px 1589px #fff, 944px 1087px #fff,
    1625px 1071px #fff, 712px 88px #fff, 1349px 99px #fff, 1281px 1873px #fff,
    1545px 924px #fff, 1901px 1437px #fff, 1753px 171px #fff, 371px 376px #fff,
    1394px 1274px #fff, 566px 567px #fff, 334px 986px #fff, 662px 1946px #fff,
    617px 845px #fff, 602px 794px #fff, 990px 1835px #fff, 1708px 936px #fff,
    651px 711px #fff, 1777px 1626px #fff, 12px 512px #fff, 1952px 1338px #fff,
    754px 450px #fff, 503px 1360px #fff, 1157px 136px #fff, 1343px 124px #fff,
    1303px 1681px #fff, 684px 463px #fff, 1375px 279px #fff, 441px 236px #fff,
    990px 294px #fff, 1055px 649px #fff, 1461px 146px #fff, 888px 1859px #fff,
    276px 8px #fff, 1208px 692px #fff, 780px 1494px #fff, 1350px 605px #fff,
    1586px 689px #fff, 1975px 1217px #fff, 1856px 1736px #fff, 660px 1158px #fff,
    1887px 1032px #fff, 940px 1681px #fff, 473px 209px #fff, 309px 728px #fff,
    1404px 339px #fff, 244px 1888px #fff, 701px 427px #fff, 803px 777px #fff,
    1325px 1814px #fff, 1946px 1019px #fff, 1338px 800px #fff, 1993px 191px #fff,
    212px 769px #fff, 8px 1300px #fff, 561px 990px #fff, 2000px 171px #fff,
    1080px 1986px #fff, 449px 1372px #fff, 1635px 762px #fff, 309px 1853px #fff,
    270px 1058px #fff, 611px 1585px #fff, 1412px 1260px #fff, 1739px 1767px #fff,
    556px 1824px #fff, 66px 855px #fff, 1049px 846px #fff, 1405px 1300px #fff,
    163px 944px #fff, 65px 1607px #fff, 1857px 1025px #fff, 1452px 701px #fff,
    317px 1764px #fff, 1769px 783px #fff, 1311px 1709px #fff, 1578px 1263px #fff,
    1775px 494px #fff, 1115px 713px #fff, 671px 1725px #fff, 1963px 1789px #fff,
    1707px 468px #fff, 294px 1389px #fff, 599px 1939px #fff, 27px 320px #fff,
    910px 773px #fff, 1162px 1535px #fff, 449px 1302px #fff, 836px 1981px #fff,
    226px 1998px #fff, 750px 1158px #fff, 1087px 1752px #fff, 1732px 79px #fff,
    1900px 748px #fff, 1557px 1789px #fff, 1187px 524px #fff, 625px 865px #fff,
    654px 972px #fff, 976px 453px #fff, 1019px 486px #fff, 543px 1758px #fff,
    1253px 1927px #fff, 448px 750px #fff, 269px 924px #fff, 480px 1119px #fff,
    1384px 451px #fff, 416px 1164px #fff, 1996px 1845px #fff, 1915px 1074px #fff,
    1342px 1248px #fff, 905px 1776px #fff, 320px 1372px #fff, 1461px 719px #fff,
    126px 909px #fff, 1559px 1857px #fff, 767px 239px #fff, 408px 1617px #fff,
    359px 17px #fff, 562px 301px #fff, 1844px 1099px #fff, 1503px 527px #fff,
    124px 719px #fff, 1223px 1415px #fff, 120px 448px #fff, 1373px 443px #fff,
    1826px 160px #fff, 1922px 1736px #fff, 1471px 925px #fff, 916px 836px #fff,
    1492px 1295px #fff, 1258px 271px #fff, 42px 859px #fff, 1281px 867px #fff,
    1090px 230px #fff, 1424px 856px #fff, 73px 1496px #fff, 1074px 94px #fff,
    1235px 1977px #fff, 702px 117px #fff, 302px 1824px #fff, 880px 1260px #fff,
    1627px 1202px #fff, 997px 863px #fff, 515px 1903px #fff, 1518px 986px #fff,
    1626px 1927px #fff, 1480px 304px #fff, 228px 1920px #fff, 1338px 768px #fff,
    1654px 871px #fff, 1851px 1817px #fff, 1315px 1398px #fff,
    1909px 1163px #fff, 547px 195px #fff, 624px 46px #fff, 1725px 390px #fff,
    982px 1203px #fff, 34px 1733px #fff, 233px 1959px #fff, 1459px 1291px #fff,
    1355px 1219px #fff, 1052px 921px #fff, 1516px 1469px #fff, 153px 1445px #fff,
    1047px 11px #fff, 607px 1320px #fff, 788px 307px #fff, 999px 1354px #fff,
    1963px 850px #fff, 1166px 1353px #fff, 194px 1299px #fff, 1117px 860px #fff,
    414px 514px #fff, 376px 1761px #fff, 1736px 1450px #fff, 1856px 923px #fff,
    225px 436px #fff, 1794px 1107px #fff, 762px 1536px #fff, 1293px 829px #fff,
    519px 368px #fff, 1199px 340px #fff, 61px 530px #fff, 465px 1314px #fff,
    1797px 1935px #fff, 1927px 1311px #fff, 833px 491px #fff, 103px 167px #fff,
    1881px 1078px #fff, 778px 554px #fff, 182px 732px #fff, 149px 1323px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1640px 1857px #fff, 64px 661px #fff, 1658px 1390px #fff,
    1952px 786px #fff, 1948px 1012px #fff, 1708px 916px #fff, 353px 963px #fff,
    271px 1872px #fff, 980px 1777px #fff, 911px 1566px #fff, 1323px 463px #fff,
    1644px 495px #fff, 965px 714px #fff, 1147px 1972px #fff, 637px 1963px #fff,
    420px 486px #fff, 1476px 1891px #fff, 1785px 680px #fff, 222px 1368px #fff,
    451px 1549px #fff, 1930px 491px #fff, 1499px 1216px #fff, 1282px 934px #fff,
    1712px 745px #fff, 935px 209px #fff, 891px 1939px #fff, 1952px 1139px #fff,
    698px 1455px #fff, 1087px 582px #fff, 511px 164px #fff, 1363px 940px #fff,
    1871px 1880px #fff, 1496px 1481px #fff, 762px 906px #fff, 596px 81px #fff,
    1046px 1588px #fff, 1326px 674px #fff, 1164px 606px #fff, 824px 97px #fff,
    25px 1358px #fff, 1152px 98px #fff, 1094px 1548px #fff, 1903px 1523px #fff,
    972px 625px #fff, 1684px 45px #fff, 361px 151px #fff, 1877px 1016px #fff,
    1711px 1493px #fff, 728px 1811px #fff, 467px 457px #fff, 1858px 1696px #fff,
    1562px 179px #fff, 1632px 1893px #fff, 535px 757px #fff, 1483px 1444px #fff,
    1080px 1002px #fff, 1104px 312px #fff, 674px 764px #fff, 1396px 380px #fff,
    994px 693px #fff, 840px 1637px #fff, 582px 106px #fff, 1845px 1721px #fff,
    174px 891px #fff, 140px 1411px #fff, 1183px 535px #fff, 721px 1118px #fff,
    1366px 410px #fff, 686px 1488px #fff, 355px 1504px #fff, 850px 638px #fff,
    79px 1501px #fff, 207px 253px #fff, 196px 41px #fff, 1596px 734px #fff,
    1066px 1546px #fff, 605px 588px #fff, 1486px 1869px #fff, 1566px 1693px #fff,
    481px 1940px #fff, 1115px 300px #fff, 681px 81px #fff, 1877px 1240px #fff,
    1241px 40px #fff, 720px 1969px #fff, 1694px 959px #fff, 450px 853px #fff,
    279px 382px #fff, 220px 1247px #fff, 1302px 1355px #fff, 1508px 1394px #fff,
    194px 1585px #fff, 931px 300px #fff, 1977px 1041px #fff, 1311px 1354px #fff,
    1510px 796px #fff, 1474px 95px #fff, 798px 800px #fff, 1370px 1297px #fff,
    156px 1382px #fff, 536px 1055px #fff, 622px 260px #fff, 1911px 841px #fff,
    343px 638px #fff, 1848px 1573px #fff, 291px 73px #fff, 1878px 1588px #fff,
    369px 371px #fff, 15px 1262px #fff, 1785px 1883px #fff, 245px 698px #fff,
    1068px 1229px #fff, 1340px 1541px #fff, 948px 1164px #fff, 577px 525px #fff,
    402px 1037px #fff, 1637px 584px #fff, 446px 935px #fff, 1861px 786px #fff,
    1323px 216px #fff, 1621px 979px #fff, 1418px 812px #fff, 693px 158px #fff,
    668px 444px #fff, 1254px 1109px #fff, 1864px 1713px #fff, 463px 1382px #fff,
    204px 1443px #fff, 483px 1078px #fff, 192px 1318px #fff, 397px 741px #fff,
    633px 107px #fff, 1310px 1743px #fff, 1856px 1431px #fff, 950px 1924px #fff,
    1339px 1991px #fff, 1186px 981px #fff, 1513px 1443px #fff, 105px 521px #fff,
    82px 104px #fff, 1413px 1452px #fff, 710px 1886px #fff, 1861px 574px #fff,
    1624px 1315px #fff, 1287px 1705px #fff, 51px 1582px #fff, 584px 1779px #fff,
    1996px 898px #fff, 239px 1836px #fff, 622px 1383px #fff, 1078px 1244px #fff,
    54px 1986px #fff, 1926px 897px #fff, 1488px 1038px #fff, 851px 573px #fff,
    270px 1380px #fff, 1603px 547px #fff, 626px 1855px #fff, 1638px 1348px #fff,
    315px 400px #fff, 306px 14px #fff, 1557px 376px #fff, 1304px 1815px #fff,
    235px 1307px #fff, 755px 1810px #fff, 319px 1015px #fff, 978px 732px #fff,
    487px 1095px #fff, 1411px 1986px #fff, 1883px 1460px #fff, 1906px 8px #fff,
    1483px 185px #fff, 760px 869px #fff, 159px 198px #fff, 384px 1825px #fff,
    1058px 1299px #fff, 1578px 1163px #fff, 823px 358px #fff, 83px 1510px #fff,
    772px 1882px #fff, 1233px 56px #fff, 277px 1592px #fff, 1368px 1904px #fff,
    180px 210px #fff, 1640px 476px #fff, 1324px 1589px #fff, 1690px 1406px #fff,
    1179px 1758px #fff, 1164px 287px #fff, 353px 1564px #fff, 1750px 1380px #fff,
    27px 175px #fff, 1059px 657px #fff, 1844px 160px #fff, 125px 555px #fff,
    1036px 1573px #fff, 1757px 1569px #fff, 72px 1723px #fff, 1312px 1104px #fff,
    1417px 1085px #fff, 1675px 1231px #fff, 772px 1982px #fff, 273px 1647px #fff,
    1891px 1241px #fff, 781px 1442px #fff, 907px 1132px #fff, 64px 537px #fff,
    1974px 260px #fff, 1252px 251px #fff, 1338px 628px #fff, 119px 1686px #fff,
    1827px 1700px #fff, 938px 300px #fff, 172px 513px #fff, 1138px 1493px #fff,
    558px 1543px #fff, 1181px 1329px #fff, 1132px 1152px #fff, 881px 1039px #fff,
    299px 1989px #fff, 1894px 441px #fff, 1797px 1345px #fff, 1435px 37px #fff,
    1378px 758px #fff, 1700px 651px #fff, 1423px 1619px #fff, 1257px 1200px #fff,
    959px 1409px #fff, 1975px 466px #fff, 970px 1016px #fff, 892px 1502px #fff,
    1509px 1574px #fff, 389px 1184px #fff, 759px 1207px #fff, 1305px 1304px #fff,
    1454px 1971px #fff, 1008px 1520px #fff, 1099px 1140px #fff,
    1072px 1121px #fff, 1670px 1754px #fff, 1801px 1221px #fff,
    1829px 737px #fff, 928px 79px #fff, 1484px 99px #fff, 593px 1936px #fff,
    1873px 387px #fff, 649px 1171px #fff, 1627px 1703px #fff, 1200px 1393px #fff,
    418px 950px #fff, 39px 409px #fff, 764px 730px #fff, 1028px 1911px #fff,
    1457px 1888px #fff, 1458px 1396px #fff, 334px 1810px #fff, 1939px 970px #fff,
    674px 1377px #fff, 1564px 1506px #fff, 834px 1846px #fff, 343px 966px #fff,
    761px 1464px #fff, 1679px 1885px #fff, 12px 148px #fff, 1616px 18px #fff,
    502px 935px #fff, 484px 1010px #fff, 1094px 947px #fff, 1818px 229px #fff,
    1130px 939px #fff, 392px 260px #fff, 149px 347px #fff, 1872px 734px #fff,
    11px 321px #fff, 1491px 1848px #fff, 1202px 792px #fff, 1262px 759px #fff,
    1593px 678px #fff, 1225px 1257px #fff, 1402px 1947px #fff, 502px 1705px #fff,
    1510px 1859px #fff, 1870px 347px #fff, 1026px 975px #fff, 51px 483px #fff,
    1324px 1736px #fff, 612px 1990px #fff, 338px 1922px #fff, 1573px 954px #fff,
    807px 1895px #fff, 430px 1948px #fff, 158px 905px #fff, 1068px 271px #fff,
    1437px 377px #fff, 394px 1622px #fff, 1618px 1901px #fff, 1533px 22px #fff,
    954px 296px #fff, 1029px 963px #fff, 746px 460px #fff, 556px 1311px #fff,
    1179px 1357px #fff, 677px 1456px #fff, 246px 873px #fff, 113px 518px #fff,
    527px 1658px #fff, 1388px 749px #fff, 1689px 882px #fff, 1391px 858px #fff,
    127px 705px #fff, 1758px 1617px #fff, 1931px 886px #fff, 1601px 458px #fff,
    760px 82px #fff, 241px 1434px #fff, 1424px 288px #fff, 751px 990px #fff,
    1004px 746px #fff, 476px 53px #fff, 242px 1713px #fff, 842px 1569px #fff,
    1835px 934px #fff, 805px 42px #fff, 480px 750px #fff, 876px 1807px #fff,
    1521px 916px #fff, 410px 139px #fff, 1758px 136px #fff, 1982px 953px #fff,
    848px 13px #fff, 1437px 1006px #fff, 134px 368px #fff, 646px 927px #fff,
    1302px 394px #fff, 286px 1399px #fff, 1847px 1966px #fff, 207px 1633px #fff,
    570px 1756px #fff, 1364px 1911px #fff, 18px 1185px #fff, 750px 1989px #fff,
    1361px 482px #fff, 493px 1913px #fff, 614px 716px #fff, 1327px 611px #fff,
    396px 1639px #fff, 934px 1105px #fff, 1335px 1673px #fff, 1877px 1390px #fff,
    1601px 288px #fff, 718px 1831px #fff, 341px 813px #fff, 1505px 166px #fff,
    657px 271px #fff, 751px 1538px #fff, 1686px 1357px #fff, 1382px 659px #fff,
    226px 257px #fff, 1807px 1868px #fff, 1585px 721px #fff, 1418px 521px #fff,
    1734px 97px #fff, 41px 6px #fff, 1844px 608px #fff, 1772px 59px #fff,
    1752px 714px #fff, 795px 1739px #fff, 128px 1860px #fff, 925px 1771px #fff,
    993px 1107px #fff, 1169px 102px #fff, 1761px 1253px #fff, 1472px 72px #fff,
    224px 1647px #fff, 1226px 1798px #fff, 925px 1011px #fff, 1949px 991px #fff,
    696px 1510px #fff, 1547px 1907px #fff, 875px 260px #fff, 956px 55px #fff,
    1610px 395px #fff, 1094px 1539px #fff, 674px 1406px #fff, 1200px 1631px #fff,
    600px 92px #fff, 125px 695px #fff, 1909px 1568px #fff, 1884px 306px #fff,
    112px 1825px #fff, 1648px 1618px #fff, 890px 1289px #fff, 133px 69px #fff,
    1785px 1934px #fff, 25px 1269px #fff, 1594px 1900px #fff, 420px 1334px #fff,
    1397px 1758px #fff, 560px 1041px #fff, 928px 1470px #fff, 175px 62px #fff,
    1059px 817px #fff, 1457px 1485px #fff, 327px 1246px #fff, 272px 1374px #fff,
    2px 1289px #fff, 1138px 1653px #fff, 1674px 283px #fff, 1053px 468px #fff,
    278px 1140px #fff, 773px 67px #fff, 481px 1040px #fff, 876px 1845px #fff,
    1789px 465px #fff, 606px 1186px #fff, 329px 1579px #fff, 1666px 1886px #fff,
    1269px 1890px #fff, 1215px 988px #fff, 686px 357px #fff, 1030px 806px #fff,
    927px 1753px #fff, 1884px 1056px #fff, 1072px 1725px #fff, 66px 142px #fff,
    413px 1019px #fff, 717px 1628px #fff, 919px 216px #fff, 881px 6px #fff,
    164px 1181px #fff, 793px 1655px #fff, 252px 440px #fff, 1446px 761px #fff,
    1681px 1903px #fff, 405px 1759px #fff, 560px 1530px #fff, 1529px 249px #fff,
    374px 1657px #fff, 655px 1591px #fff, 92px 288px #fff, 1244px 689px #fff,
    552px 1565px #fff, 1094px 800px #fff, 1230px 1769px #fff, 1814px 1320px #fff,
    1299px 1921px #fff, 320px 1718px #fff, 501px 291px #fff, 507px 188px #fff,
    964px 1121px #fff, 1568px 1861px #fff, 1195px 488px #fff, 908px 812px #fff,
    1047px 949px #fff, 1078px 274px #fff, 744px 852px #fff, 414px 1870px #fff,
    559px 864px #fff, 1331px 1367px #fff, 469px 1556px #fff, 582px 605px #fff,
    113px 1864px #fff, 151px 594px #fff, 1831px 307px #fff, 106px 1295px #fff,
    1532px 519px #fff, 1688px 430px #fff, 1038px 1311px #fff, 1580px 1937px #fff,
    1195px 1928px #fff, 1142px 1864px #fff, 1072px 1744px #fff, 591px 726px #fff,
    851px 140px #fff, 1393px 1243px #fff, 1315px 1962px #fff, 1296px 1872px #fff,
    724px 1855px #fff, 1599px 1971px #fff, 1062px 1286px #fff, 617px 1296px #fff,
    720px 758px #fff, 1565px 1620px #fff, 1473px 1553px #fff, 1650px 420px #fff,
    661px 940px #fff, 1454px 1519px #fff, 1524px 1096px #fff, 1229px 1533px #fff,
    40px 47px #fff, 681px 483px #fff, 171px 145px #fff, 1127px 1818px #fff,
    1334px 302px #fff, 1105px 445px #fff, 1507px 1023px #fff, 1597px 366px #fff,
    36px 883px #fff, 1675px 595px #fff, 773px 776px #fff, 526px 250px #fff,
    1718px 203px #fff, 687px 232px #fff, 221px 373px #fff, 925px 1647px #fff,
    1349px 1908px #fff, 363px 78px #fff, 1718px 1589px #fff, 944px 1087px #fff,
    1625px 1071px #fff, 712px 88px #fff, 1349px 99px #fff, 1281px 1873px #fff,
    1545px 924px #fff, 1901px 1437px #fff, 1753px 171px #fff, 371px 376px #fff,
    1394px 1274px #fff, 566px 567px #fff, 334px 986px #fff, 662px 1946px #fff,
    617px 845px #fff, 602px 794px #fff, 990px 1835px #fff, 1708px 936px #fff,
    651px 711px #fff, 1777px 1626px #fff, 12px 512px #fff, 1952px 1338px #fff,
    754px 450px #fff, 503px 1360px #fff, 1157px 136px #fff, 1343px 124px #fff,
    1303px 1681px #fff, 684px 463px #fff, 1375px 279px #fff, 441px 236px #fff,
    990px 294px #fff, 1055px 649px #fff, 1461px 146px #fff, 888px 1859px #fff,
    276px 8px #fff, 1208px 692px #fff, 780px 1494px #fff, 1350px 605px #fff,
    1586px 689px #fff, 1975px 1217px #fff, 1856px 1736px #fff, 660px 1158px #fff,
    1887px 1032px #fff, 940px 1681px #fff, 473px 209px #fff, 309px 728px #fff,
    1404px 339px #fff, 244px 1888px #fff, 701px 427px #fff, 803px 777px #fff,
    1325px 1814px #fff, 1946px 1019px #fff, 1338px 800px #fff, 1993px 191px #fff,
    212px 769px #fff, 8px 1300px #fff, 561px 990px #fff, 2000px 171px #fff,
    1080px 1986px #fff, 449px 1372px #fff, 1635px 762px #fff, 309px 1853px #fff,
    270px 1058px #fff, 611px 1585px #fff, 1412px 1260px #fff, 1739px 1767px #fff,
    556px 1824px #fff, 66px 855px #fff, 1049px 846px #fff, 1405px 1300px #fff,
    163px 944px #fff, 65px 1607px #fff, 1857px 1025px #fff, 1452px 701px #fff,
    317px 1764px #fff, 1769px 783px #fff, 1311px 1709px #fff, 1578px 1263px #fff,
    1775px 494px #fff, 1115px 713px #fff, 671px 1725px #fff, 1963px 1789px #fff,
    1707px 468px #fff, 294px 1389px #fff, 599px 1939px #fff, 27px 320px #fff,
    910px 773px #fff, 1162px 1535px #fff, 449px 1302px #fff, 836px 1981px #fff,
    226px 1998px #fff, 750px 1158px #fff, 1087px 1752px #fff, 1732px 79px #fff,
    1900px 748px #fff, 1557px 1789px #fff, 1187px 524px #fff, 625px 865px #fff,
    654px 972px #fff, 976px 453px #fff, 1019px 486px #fff, 543px 1758px #fff,
    1253px 1927px #fff, 448px 750px #fff, 269px 924px #fff, 480px 1119px #fff,
    1384px 451px #fff, 416px 1164px #fff, 1996px 1845px #fff, 1915px 1074px #fff,
    1342px 1248px #fff, 905px 1776px #fff, 320px 1372px #fff, 1461px 719px #fff,
    126px 909px #fff, 1559px 1857px #fff, 767px 239px #fff, 408px 1617px #fff,
    359px 17px #fff, 562px 301px #fff, 1844px 1099px #fff, 1503px 527px #fff,
    124px 719px #fff, 1223px 1415px #fff, 120px 448px #fff, 1373px 443px #fff,
    1826px 160px #fff, 1922px 1736px #fff, 1471px 925px #fff, 916px 836px #fff,
    1492px 1295px #fff, 1258px 271px #fff, 42px 859px #fff, 1281px 867px #fff,
    1090px 230px #fff, 1424px 856px #fff, 73px 1496px #fff, 1074px 94px #fff,
    1235px 1977px #fff, 702px 117px #fff, 302px 1824px #fff, 880px 1260px #fff,
    1627px 1202px #fff, 997px 863px #fff, 515px 1903px #fff, 1518px 986px #fff,
    1626px 1927px #fff, 1480px 304px #fff, 228px 1920px #fff, 1338px 768px #fff,
    1654px 871px #fff, 1851px 1817px #fff, 1315px 1398px #fff,
    1909px 1163px #fff, 547px 195px #fff, 624px 46px #fff, 1725px 390px #fff,
    982px 1203px #fff, 34px 1733px #fff, 233px 1959px #fff, 1459px 1291px #fff,
    1355px 1219px #fff, 1052px 921px #fff, 1516px 1469px #fff, 153px 1445px #fff,
    1047px 11px #fff, 607px 1320px #fff, 788px 307px #fff, 999px 1354px #fff,
    1963px 850px #fff, 1166px 1353px #fff, 194px 1299px #fff, 1117px 860px #fff,
    414px 514px #fff, 376px 1761px #fff, 1736px 1450px #fff, 1856px 923px #fff,
    225px 436px #fff, 1794px 1107px #fff, 762px 1536px #fff, 1293px 829px #fff,
    519px 368px #fff, 1199px 340px #fff, 61px 530px #fff, 465px 1314px #fff,
    1797px 1935px #fff, 1927px 1311px #fff, 833px 491px #fff, 103px 167px #fff,
    1881px 1078px #fff, 778px 554px #fff, 182px 732px #fff, 149px 1323px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 671px 1655px #fff, 930px 21px #fff, 1203px 101px #fff,
    815px 1235px #fff, 267px 8px #fff, 1073px 1331px #fff, 1436px 1777px #fff,
    223px 1686px #fff, 369px 1239px #fff, 496px 435px #fff, 294px 1619px #fff,
    1300px 1492px #fff, 1274px 1653px #fff, 686px 806px #fff, 1979px 737px #fff,
    1006px 1489px #fff, 719px 1298px #fff, 568px 844px #fff, 1962px 1704px #fff,
    1943px 449px #fff, 1399px 1274px #fff, 1717px 1122px #fff, 1971px 973px #fff,
    817px 1534px #fff, 1132px 459px #fff, 754px 1512px #fff, 944px 1487px #fff,
    1123px 1911px #fff, 779px 1803px #fff, 1332px 914px #fff, 360px 323px #fff,
    340px 241px #fff, 375px 1185px #fff, 1040px 963px #fff, 21px 1576px #fff,
    872px 1758px #fff, 1765px 395px #fff, 1933px 1320px #fff, 305px 21px #fff,
    1279px 1272px #fff, 755px 1425px #fff, 1623px 588px #fff, 822px 174px #fff,
    719px 626px #fff, 1418px 153px #fff, 748px 1796px #fff, 528px 786px #fff,
    523px 834px #fff, 1804px 734px #fff, 61px 379px #fff, 593px 462px #fff,
    483px 837px #fff, 504px 1492px #fff, 600px 1039px #fff, 1414px 212px #fff,
    1293px 559px #fff, 428px 1354px #fff, 1642px 1241px #fff, 1235px 79px #fff,
    1578px 1827px #fff, 1607px 195px #fff, 1404px 546px #fff, 505px 1477px #fff,
    591px 10px #fff, 1511px 1995px #fff, 573px 63px #fff, 859px 1839px #fff,
    20px 1729px #fff, 1711px 1899px #fff, 794px 1727px #fff, 1980px 1827px #fff,
    979px 1617px #fff, 1468px 1294px #fff, 1759px 166px #fff, 792px 1255px #fff,
    77px 1486px #fff, 103px 1976px #fff, 55px 1899px #fff, 991px 1538px #fff,
    656px 77px #fff, 675px 1665px #fff, 1530px 1187px #fff, 864px 1656px #fff,
    1715px 239px #fff, 1323px 691px #fff, 1383px 1116px #fff, 838px 675px #fff,
    1908px 1499px #fff, 1061px 1003px #fff, 70px 153px #fff, 1760px 1478px #fff,
    222px 546px #fff, 295px 1769px #fff, 1815px 1051px #fff, 834px 1409px #fff,
    334px 24px #fff, 676px 245px #fff, 606px 1591px #fff, 268px 1401px #fff,
    805px 1096px #fff, 664px 1630px #fff, 936px 1944px #fff, 1093px 897px #fff,
    1319px 1531px #fff, 472px 374px #fff, 1501px 1690px #fff, 839px 1057px #fff,
    591px 820px #fff, 81px 776px #fff, 1324px 1853px #fff, 50px 824px #fff,
    132px 1274px #fff, 1790px 118px #fff, 269px 455px #fff, 1213px 1752px #fff,
    637px 651px #fff, 1116px 940px #fff, 1833px 1733px #fff, 1368px 1736px #fff,
    1759px 1548px #fff, 1508px 1794px #fff, 1169px 1796px #fff,
    1509px 198px #fff, 430px 385px #fff, 1874px 1408px #fff, 272px 1592px #fff,
    111px 1593px #fff, 1099px 1647px #fff, 1220px 1392px #fff, 1994px 173px #fff,
    106px 1850px #fff, 801px 558px #fff, 941px 1160px #fff, 867px 323px #fff,
    1408px 218px #fff, 707px 568px #fff, 1770px 784px #fff, 1322px 400px #fff,
    170px 72px #fff, 1209px 622px #fff, 145px 972px #fff, 400px 693px #fff,
    1613px 1771px #fff, 1195px 1215px #fff, 1696px 891px #fff,
    1397px 1081px #fff, 838px 320px #fff, 510px 746px #fff, 642px 659px #fff,
    234px 738px #fff, 558px 714px #fff, 885px 879px #fff, 1013px 1395px #fff,
    988px 1224px #fff, 1052px 755px #fff, 975px 1px #fff, 245px 772px #fff,
    543px 978px #fff, 172px 715px #fff, 1883px 1431px #fff, 1846px 197px #fff,
    889px 50px #fff, 1521px 1925px #fff, 749px 803px #fff, 549px 1979px #fff,
    1761px 404px #fff, 121px 1559px #fff, 1662px 1420px #fff, 898px 1718px #fff,
    162px 1258px #fff, 1238px 189px #fff, 761px 501px #fff, 1122px 231px #fff,
    906px 1323px #fff, 614px 1968px #fff, 1738px 1002px #fff, 1380px 40px #fff,
    267px 1874px #fff, 210px 1824px #fff, 1356px 386px #fff, 927px 55px #fff,
    1687px 1886px #fff, 1685px 949px #fff, 6px 1317px #fff, 127px 297px #fff,
    907px 1719px #fff, 500px 1986px #fff, 412px 1982px #fff, 1957px 269px #fff,
    1276px 1570px #fff, 1148px 1343px #fff, 1517px 1159px #fff, 1151px 51px #fff,
    299px 692px #fff, 639px 1942px #fff, 1545px 15px #fff, 1488px 1268px #fff,
    1918px 1240px #fff, 1628px 210px #fff, 1470px 910px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 671px 1655px #fff, 930px 21px #fff, 1203px 101px #fff,
    815px 1235px #fff, 267px 8px #fff, 1073px 1331px #fff, 1436px 1777px #fff,
    223px 1686px #fff, 369px 1239px #fff, 496px 435px #fff, 294px 1619px #fff,
    1300px 1492px #fff, 1274px 1653px #fff, 686px 806px #fff, 1979px 737px #fff,
    1006px 1489px #fff, 719px 1298px #fff, 568px 844px #fff, 1962px 1704px #fff,
    1943px 449px #fff, 1399px 1274px #fff, 1717px 1122px #fff, 1971px 973px #fff,
    817px 1534px #fff, 1132px 459px #fff, 754px 1512px #fff, 944px 1487px #fff,
    1123px 1911px #fff, 779px 1803px #fff, 1332px 914px #fff, 360px 323px #fff,
    340px 241px #fff, 375px 1185px #fff, 1040px 963px #fff, 21px 1576px #fff,
    872px 1758px #fff, 1765px 395px #fff, 1933px 1320px #fff, 305px 21px #fff,
    1279px 1272px #fff, 755px 1425px #fff, 1623px 588px #fff, 822px 174px #fff,
    719px 626px #fff, 1418px 153px #fff, 748px 1796px #fff, 528px 786px #fff,
    523px 834px #fff, 1804px 734px #fff, 61px 379px #fff, 593px 462px #fff,
    483px 837px #fff, 504px 1492px #fff, 600px 1039px #fff, 1414px 212px #fff,
    1293px 559px #fff, 428px 1354px #fff, 1642px 1241px #fff, 1235px 79px #fff,
    1578px 1827px #fff, 1607px 195px #fff, 1404px 546px #fff, 505px 1477px #fff,
    591px 10px #fff, 1511px 1995px #fff, 573px 63px #fff, 859px 1839px #fff,
    20px 1729px #fff, 1711px 1899px #fff, 794px 1727px #fff, 1980px 1827px #fff,
    979px 1617px #fff, 1468px 1294px #fff, 1759px 166px #fff, 792px 1255px #fff,
    77px 1486px #fff, 103px 1976px #fff, 55px 1899px #fff, 991px 1538px #fff,
    656px 77px #fff, 675px 1665px #fff, 1530px 1187px #fff, 864px 1656px #fff,
    1715px 239px #fff, 1323px 691px #fff, 1383px 1116px #fff, 838px 675px #fff,
    1908px 1499px #fff, 1061px 1003px #fff, 70px 153px #fff, 1760px 1478px #fff,
    222px 546px #fff, 295px 1769px #fff, 1815px 1051px #fff, 834px 1409px #fff,
    334px 24px #fff, 676px 245px #fff, 606px 1591px #fff, 268px 1401px #fff,
    805px 1096px #fff, 664px 1630px #fff, 936px 1944px #fff, 1093px 897px #fff,
    1319px 1531px #fff, 472px 374px #fff, 1501px 1690px #fff, 839px 1057px #fff,
    591px 820px #fff, 81px 776px #fff, 1324px 1853px #fff, 50px 824px #fff,
    132px 1274px #fff, 1790px 118px #fff, 269px 455px #fff, 1213px 1752px #fff,
    637px 651px #fff, 1116px 940px #fff, 1833px 1733px #fff, 1368px 1736px #fff,
    1759px 1548px #fff, 1508px 1794px #fff, 1169px 1796px #fff,
    1509px 198px #fff, 430px 385px #fff, 1874px 1408px #fff, 272px 1592px #fff,
    111px 1593px #fff, 1099px 1647px #fff, 1220px 1392px #fff, 1994px 173px #fff,
    106px 1850px #fff, 801px 558px #fff, 941px 1160px #fff, 867px 323px #fff,
    1408px 218px #fff, 707px 568px #fff, 1770px 784px #fff, 1322px 400px #fff,
    170px 72px #fff, 1209px 622px #fff, 145px 972px #fff, 400px 693px #fff,
    1613px 1771px #fff, 1195px 1215px #fff, 1696px 891px #fff,
    1397px 1081px #fff, 838px 320px #fff, 510px 746px #fff, 642px 659px #fff,
    234px 738px #fff, 558px 714px #fff, 885px 879px #fff, 1013px 1395px #fff,
    988px 1224px #fff, 1052px 755px #fff, 975px 1px #fff, 245px 772px #fff,
    543px 978px #fff, 172px 715px #fff, 1883px 1431px #fff, 1846px 197px #fff,
    889px 50px #fff, 1521px 1925px #fff, 749px 803px #fff, 549px 1979px #fff,
    1761px 404px #fff, 121px 1559px #fff, 1662px 1420px #fff, 898px 1718px #fff,
    162px 1258px #fff, 1238px 189px #fff, 761px 501px #fff, 1122px 231px #fff,
    906px 1323px #fff, 614px 1968px #fff, 1738px 1002px #fff, 1380px 40px #fff,
    267px 1874px #fff, 210px 1824px #fff, 1356px 386px #fff, 927px 55px #fff,
    1687px 1886px #fff, 1685px 949px #fff, 6px 1317px #fff, 127px 297px #fff,
    907px 1719px #fff, 500px 1986px #fff, 412px 1982px #fff, 1957px 269px #fff,
    1276px 1570px #fff, 1148px 1343px #fff, 1517px 1159px #fff, 1151px 51px #fff,
    299px 692px #fff, 639px 1942px #fff, 1545px 15px #fff, 1488px 1268px #fff,
    1918px 1240px #fff, 1628px 210px #fff, 1470px 910px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 254px 1008px #fff, 1372px 1057px #fff, 24px 1009px #fff,
    1111px 11px #fff, 1640px 1602px #fff, 823px 1804px #fff, 1863px 748px #fff,
    1738px 747px #fff, 1867px 612px #fff, 124px 600px #fff, 1282px 1409px #fff,
    1756px 902px #fff, 455px 1827px #fff, 578px 713px #fff, 1332px 1296px #fff,
    166px 861px #fff, 1889px 1156px #fff, 1567px 75px #fff, 398px 1804px #fff,
    1789px 1808px #fff, 986px 323px #fff, 1099px 1188px #fff, 550px 1211px #fff,
    1996px 640px #fff, 424px 380px #fff, 1978px 1914px #fff, 851px 1649px #fff,
    1955px 218px #fff, 1040px 1715px #fff, 1808px 1206px #fff, 52px 299px #fff,
    1594px 1698px #fff, 704px 655px #fff, 823px 733px #fff, 1976px 1777px #fff,
    1001px 1877px #fff, 1592px 874px #fff, 1599px 594px #fff, 1053px 1250px #fff,
    1127px 1007px #fff, 1455px 164px #fff, 284px 15px #fff, 955px 391px #fff,
    20px 680px #fff, 415px 502px #fff, 1125px 1944px #fff, 1255px 1879px #fff,
    520px 1238px #fff, 1258px 307px #fff, 1079px 179px #fff, 1319px 414px #fff,
    37px 447px #fff, 1947px 1705px #fff, 1088px 1635px #fff, 1675px 1010px #fff,
    173px 602px #fff, 536px 815px #fff, 640px 409px #fff, 1100px 152px #fff,
    1832px 1372px #fff, 1066px 1127px #fff, 424px 83px #fff, 1226px 350px #fff,
    1370px 1859px #fff, 336px 1154px #fff, 1872px 1212px #fff, 91px 1494px #fff,
    1004px 177px #fff, 1391px 181px #fff, 168px 593px #fff, 1504px 1935px #fff,
    152px 1793px #fff, 1662px 509px #fff, 203px 899px #fff, 170px 1956px #fff,
    779px 83px #fff, 364px 1703px #fff, 1194px 1248px #fff, 1038px 1526px #fff,
    1884px 1879px #fff, 718px 1591px #fff, 1763px 1291px #fff,
    1134px 1557px #fff, 903px 849px #fff, 942px 1702px #fff, 1659px 904px #fff,
    1722px 1946px #fff, 1676px 84px #fff, 1602px 272px #fff, 1670px 273px #fff,
    1355px 1491px #fff, 741px 1216px #fff, 1425px 845px #fff, 1851px 680px #fff,
    1615px 942px #fff, 1334px 1118px #fff, 1709px 714px #fff, 1804px 1078px #fff,
    525px 1656px #fff, 1783px 255px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 254px 1008px #fff, 1372px 1057px #fff, 24px 1009px #fff,
    1111px 11px #fff, 1640px 1602px #fff, 823px 1804px #fff, 1863px 748px #fff,
    1738px 747px #fff, 1867px 612px #fff, 124px 600px #fff, 1282px 1409px #fff,
    1756px 902px #fff, 455px 1827px #fff, 578px 713px #fff, 1332px 1296px #fff,
    166px 861px #fff, 1889px 1156px #fff, 1567px 75px #fff, 398px 1804px #fff,
    1789px 1808px #fff, 986px 323px #fff, 1099px 1188px #fff, 550px 1211px #fff,
    1996px 640px #fff, 424px 380px #fff, 1978px 1914px #fff, 851px 1649px #fff,
    1955px 218px #fff, 1040px 1715px #fff, 1808px 1206px #fff, 52px 299px #fff,
    1594px 1698px #fff, 704px 655px #fff, 823px 733px #fff, 1976px 1777px #fff,
    1001px 1877px #fff, 1592px 874px #fff, 1599px 594px #fff, 1053px 1250px #fff,
    1127px 1007px #fff, 1455px 164px #fff, 284px 15px #fff, 955px 391px #fff,
    20px 680px #fff, 415px 502px #fff, 1125px 1944px #fff, 1255px 1879px #fff,
    520px 1238px #fff, 1258px 307px #fff, 1079px 179px #fff, 1319px 414px #fff,
    37px 447px #fff, 1947px 1705px #fff, 1088px 1635px #fff, 1675px 1010px #fff,
    173px 602px #fff, 536px 815px #fff, 640px 409px #fff, 1100px 152px #fff,
    1832px 1372px #fff, 1066px 1127px #fff, 424px 83px #fff, 1226px 350px #fff,
    1370px 1859px #fff, 336px 1154px #fff, 1872px 1212px #fff, 91px 1494px #fff,
    1004px 177px #fff, 1391px 181px #fff, 168px 593px #fff, 1504px 1935px #fff,
    152px 1793px #fff, 1662px 509px #fff, 203px 899px #fff, 170px 1956px #fff,
    779px 83px #fff, 364px 1703px #fff, 1194px 1248px #fff, 1038px 1526px #fff,
    1884px 1879px #fff, 718px 1591px #fff, 1763px 1291px #fff,
    1134px 1557px #fff, 903px 849px #fff, 942px 1702px #fff, 1659px 904px #fff,
    1722px 1946px #fff, 1676px 84px #fff, 1602px 272px #fff, 1670px 273px #fff,
    1355px 1491px #fff, 741px 1216px #fff, 1425px 845px #fff, 1851px 680px #fff,
    1615px 942px #fff, 1334px 1118px #fff, 1709px 714px #fff, 1804px 1078px #fff,
    525px 1656px #fff, 1783px 255px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
