@font-face {
  font-family: AdwaitaSans;
  src: local(sans-serif), url(/fonts/AdwaitaSans.ttf);
  font-display: swap;
}

@font-face {
  font-family: AdwaitaMono;
  src: local(monospace), url(/fonts/AdwaitaMono.ttf);
  font-display: swap;
}

pre {
  tab-size: 2; /* Set tab size to 2 spaces */
  -moz-tab-size: 2; /* For Firefox */
}

code {
  tab-size: 2; /* Set tab size for inline code */
  -moz-tab-size: 2; /* For Firefox */
}

body {
  font-family: "AdwaitaSans", sans-serif;
  overflow: hidden;
}

html {
}

code {
  font-family: "AdwaitaMono", monospace;
}

.counter {
  color: var(--secondary);
  font-size: 0.9rem;
}

:root {
  --theme: #fafafa;
  --entry: #ffffff;
  --primary: #2f2f2f;
  --secondary: #696866;
  --tertiary: #d9d9d9;
  --content: #3a3a3a;
  --hljs-bg: #ebebeb;
  --code-bg: #ebebeb;
  --border: #ebebeb;
  --code-block-bg: #272727;
}

.dark {
  --theme: #1d1d1d;
  --entry: #2e2e2e;
  --primary: #deddda;
  --secondary: #acaaa7;
  --tertiary: #4b4b4b;
  --content: #cccccc;
  --hljs-bg: #272727;
  --code-bg: #2e2e2e;
  --border: #2e2e2e;
  --code-block-bg: #272727;
}
